{% extends "base.html" %}
{% block title %}Edit Student{% endblock %}

{% block content %}

<div class="row justify-content-center mt-4">

    <div class="col-md-6">

        <div class="card shadow-lg border-0">

            <div class="card-header text-white"
                 style="background: linear-gradient(135deg,#0d6efd,#6610f2);">
                <h5 class="mb-0">✏️ Edit Student</h5>
            </div>

            <div class="card-body p-4">

                <form method="POST">

                    <div class="mb-3">
                        <label class="form-label">
                            Student Name
                        </label>

                        <input
                            type="text"
                            name="student_name"
                            class="form-control"
                            value="{{ student.name }}"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Marks
                        </label>

                        <input
                            type="number"
                            name="marks"
                            min="0"
                            max="100"
                            class="form-control"
                            value="{{ student.marks }}"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Roll Number
                        </label>

                        <input
                            type="number"
                            name="roll"
                            class="form-control"
                            value="{{ student.roll }}"
                            required>
                    </div>

                    <button type="submit"
                            class="btn btn-primary w-100">
                        Update Student
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}