{% extends "base.html" %}

{% block content %}

<h2>Welcome to Government Polytechnic Hingoli</h2>

<p>
<strong>📚 Learn. 🌿 Grow. 🎯 Succeed.</strong><br>
<strong>🎓 Your future starts here with quality technical education.</strong>
</p>

<h3 style="margin-bottom:0;">Quick Links</h3>

<p style="margin-top:0;">
👉🏻 <a href="{{ url_for('home') }}">Home</a><br>
👉🏻 <a href="{{ url_for('students_page') }}">Students</a><br>
👉🏻 <a href="{{ url_for('notice') }}">Notice</a><br>
👉🏻 <a href="{{ url_for('about') }}">About College</a>
</p>

{% endblock %}

