{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4">
    <h1 class="text-danger">📢 Notice Board</h1>

    <ul class="list-group mt-3">
        <li class="list-group-item">
            College will remain closed on Sunday.
        </li>

        <li class="list-group-item">
            Internal exams next month.
        </li>

        <li class="list-group-item">
            Submit assignments on time.
        </li>
    </ul>

    <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">
        ⬅ Back to Home
    </a>
</div>

{% endblock %}