{% extends "base.html" %}

{% block content %}

<h1>👩‍🎓 Student Records</h1>

<hr>

<table border="1" cellpadding="10">
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Marks</th>
        <th>Status</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ s.roll }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.marks }}</td>
        <td>
            {% if s.marks >= 40 %}
                ✅ Pass
            {% else %}
                ❌ Fail
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
