{ % extends "base.html" % }
{ % block title % }Students - Collage Portal{ % endblock % }

{ % block content % }
    <h1> All Students </h1>
    <p>Total : {{students|length}} students</p>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Marks</th>
            <th>Grade</th>
        </tr>
        { % for student in students % }
        <tr>
            <td>{{ student.Name}}</td>
            <td>{{ student.RollNumber }}</td>
            <td>{{ student.Marks }}</td>
            <td>{{ student.Grade }}</td>
        </tr>
        { % endfor % }
